apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: minimal-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: sachin.info
    http:
      paths:
        - path: /
          backend:
            serviceName: nginx-service
            servicePort: 80